name: Dqlite Jepsen tests - expected pass

on:
  push:
  pull_request:
  schedule:
    - cron: '0 */1 * * *'
  workflow_dispatch:
    inputs:
      raft-repo:
        description: Raft Repo
        default: https://github.com/Canonical/raft.git
      raft-branch:
        description: Raft Branch
        default: master
      dqlite-repo:
        description: Dqlite Repo
        default: https://github.com/Canonical/dqlite.git
      dqlite-branch:
        description: Dqlite Branch
        default: master

jobs:
  expected-pass:
    uses: ./.github/workflows/test-build-run.yml
    with:
      workloads: >
        [ 'append', 'bank', 'set' ]
      nemeses: >
        [ 'none', 'partition', 'kill', 'stop', 'disk', 'member',
          'partition,stop', 'partition,kill', 'partition,member',
          'packet,stop', 'pause' ]
      disk: >
        [ '0' ]
      jepsen-dqlite-repo: ${{ github.repository }}
      jepsen-dqlite-branch: ${{ github.ref }}
      raft-repo: ${{ inputs.raft-repo || 'https://github.com/Canonical/raft.git' }}
      raft-branch: ${{ inputs.raft-branch || 'master' }}
      dqlite-repo: ${{ inputs.dqlite-repo || 'https://github.com/Canonical/dqlite.git' }}
      dqlite-branch: ${{ inputs.dqlite-branch || 'master' }}
